/* BUTTON */
@mixin button(
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $text-align,
  $text-transform,
  $vertical-padding,
  $lateral-padding,
  $border-width,
  $border-radius,
  $color,
  $background-color,
  $border-color,
  $color-hover,
  $background-color-hover,
  $border-color-hover,
  $color-focus,
  $background-color-focus,
  $border-color-focus,
  $color-active,
  $background-color-active,
  $border-color-active
) {
  font-family: $body-font;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-align: $text-align;
  text-transform: $text-transform;
  letter-spacing: 1px;
  padding: $vertical-padding $lateral-padding;
  border-radius: $border-radius;
  color: $color;
  background-color: $background-color;
  border: $border-width solid $border-color;
  @include transition(all, 0.3s, linear);
  &:hover {
    color: $color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
  }
  &:focus {
    text-shadow: 1px 0px 1px $gray-light;
    color: $color-focus;
    background-color: $background-color-focus;
    border-color: $border-color-focus;
  }
  &:active {
    text-shadow: 1px 0px 1px $gray-light;
    color: $color-active;
    background-color: $background-color-active;
    border-color: $border-color-active;
  }
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus {
    &:active {
      outline: 0;
    }
  }
}

/*
@include button (
$font-family,
$font-size,
$line-height,
$font-weight,
$text-align,
$text-transform,
$vertical-padding, $lateral-padding,
$border-width, $border-radius,
$color, $background-color, $border-color,
$color-hover, $background-color-hover, $border-color-hover,
$color-focus, $background-color-focus, $border-color-focus,
$color-active, $background-color-active, $border-color-active
);
Btn-full:
@include button (
$body-font, 14px, 1, 500, center, uppercase,
8px, 20px,
0px, 3px,
$white, $gray, transparent,
$white, darken( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent
);
Btn-outline:
@include button (
$body-font, 14px, 1, 500, center, uppercase,
8px, 20px,
1px, 3px,
$white, transparent, $white,
$gray, $white, $white,
$white, lighten( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent
);
*/
@mixin btn() {
  &:hover,
  &:focus,
  &:active {
  }

  &[disabled] {
  }
}

@mixin btn-style(
  $color,
  $color-hfa,
  $border-width,
  $border-style,
  $border-color,
  $border-color-hfa,
  $border-radius,
  $background-color,
  $background-color-hfa
) {
  color: $color;

  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;

  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  border-radius: $border-radius;

  background-color: $background-color;

  @include transition(all, 0.3s, linear);

  &:hover,
  &:focus,
  &:active {
    color: $color-hfa;
    border-color: $border-color-hfa;
    background-color: $background-color-hfa;
  }
}

@mixin btn-size($vertical-padding, $horizontal-padding, $min-width) {
  padding: $vertical-padding $horizontal-padding;
  min-width: $min-width;
}

@mixin btn-text($font-size, $line-height, $font-style) {
  font-size: $font-size;
  line-height: $line-height;
  font-style: $font-style;
}

/*

// BUTTON BASIC
@include btn ();


// BUTTON STYLE
@include btn-style (
$color, $color-hfa,
$border-width, $border-style, $border-color, $border-color-hfa, $border-radius,
$background-color, $background-color-hfa
);

// white-green-green
@include btn-style ($white, $white, 1px, solid, $medium-cyan, $dark-cyan, $global-radius, $medium-cyan, $dark-cyan);

// white-red-red
@include btn-style ($white, $white, 1px, solid, $light-red, $dark-red, $global-radius, $light-red, $dark-red);

// darkgray-lightgray-white
@include btn-style ($dark-gray, $dark-gray, 1px, solid, $light-gray, $dark-gray, $global-radius, $white, $white);


// BUTTON SIZE
@include btn-size (
$vertical-padding, $horizontal-padding,
$min-width
);

@include btn-size (0.625rem, 1.25rem, 7.5rem); // 10px, 20px, 120px
@include btn-size (0.3125rem, 0.9375rem, 5.625rem); // 5px, 15px, 90px

*/

@mixin button-variant($color, $background, $border) {
  color: $color;
  border-color: $border;
  background-color: $background;
  &:focus,
  &.focus {
    color: $color;
    border-color: darken($border, 25%);
    background-color: darken($background, 10%);
  }
  &:hover {
    color: $color;
    border-color: darken($border, 12%);
    background-color: darken($background, 10%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    border-color: darken($border, 12%);
    background-color: darken($background, 10%);
    &:hover,
    &:focus,
    &.focus {
      color: $color;
      border-color: darken($border, 25%);
      background-color: darken($background, 17%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      border-color: $border;
      background-color: $background;
    }
  }
  .badge {
    color: $background;
    background-color: $color;
  }
}

// =============================================================================
// 01) BUTTON BASIC
// =============================================================================

@mixin btn() {
  @include box-sizing(border-box);
  @include transition(all, 0.3s, linear);
  cursor: pointer;

  .btn-label {
  }

  &:hover {
  }

  &:focus,
  &:active {
    outline: none;
  }

  &[disabled],
  &.disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
  }
}

/*
@include btn ();
*/

// =============================================================================
// 02) BUTTON SIZE
// =============================================================================

@mixin btn-size(
  $vertical-padding,
  $horizontal-padding,
  $height,
  $min-width,
  $width
) {
  padding: $vertical-padding $horizontal-padding;
  height: $height;
  min-width: $min-width;
  width: $width;
}

/*

@include btn-size (
    $vertical-padding, $horizontal-padding,
    $height, $min-width, $width);

*/

// =============================================================================
// 03) BUTTON STYLE
// =============================================================================

@mixin btn-style(
  $border-width,
  $border-style,
  $border-radius,
  $alignment,
  $border-color,
  $border-color-hover,
  $border-color-focus,
  $border-color-active,
  $background-color,
  $background-color-hover,
  $background-color-focus,
  $background-color-active
) {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content($alignment);
  border-width: $border-width;
  border-style: $border-style;
  @include border-radius($border-radius);
  border-color: $border-color;
  background-color: $background-color;

  &:hover {
    border-color: $border-color-hover;
    background-color: $background-color-hover;
  }
  &:focus {
    border-color: $border-color-focus;
    background-color: $background-color-focus;
  }
  &:active {
    border-color: $border-color-active;
    background-color: $background-color-active;
  }
}

/*

@include btn-style(
    $border-width, $border-style, $border-radius, $alignment,
    $border-color, $border-color-hover, $border-color-focus, $border-color-active,
    $background-color, $background-color-hover, $background-color-focus, $background-color-active ) {
);

*/

// =============================================================================
// 04) BUTTON ICON
// =============================================================================

@mixin btn-icon(
  $icon-height,
  $icon-width,
  $icon-font-size,
  $icon-line-height,
  $icon-color,
  $icon-color-hover,
  $icon-color-focus,
  $icon-color-active
) {
  i {
    height: $icon-height;
    width: $icon-width;
    font-size: $icon-font-size;
    line-height: $icon-line-height;
    color: $icon-color;
    @include transition(all, 0.3s, linear);
  }

  &:hover {
    i {
      color: $icon-color-hover;
    }
  }

  &:focus {
    i {
      color: $icon-color-focus;
    }
  }

  &:active {
    i {
      color: $icon-color-active;
    }
  }
}

/*
@include btn-icon (
    $icon-width, $icon-height,
    $icon-font-size, $icon-line-height,
    $icon-color, $icon-color-hover, $icon-color-focus, $icon-color-active);

 */

// =============================================================================
// 05) BUTTON LABEL
// =============================================================================

@mixin btn-label(
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $text-transform,
  $color,
  $color-hover,
  $color-focus,
  $color-active
) {
  .btn-label {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-transform: $text-transform;
    color: $color;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }

  &:hover {
    .btn-label {
      color: $color-hover;
    }
  }
  &:focus {
    .btn-label {
      color: $color-focus;
    }
  }
  &:active {
    .btn-label {
      color: $color-active;
    }
  }
}

/*

@include btn-label (
    $font-family, $font-size, $line-height, $font-weight, $text-transform,
    $color, $color-hover, $color-focus, $color-active);

 */

// =============================================================================
// 06) ICON + LABEL MARGIN
// =============================================================================

@mixin btn-icon-label-margin-left($margin-left) {
  span {
    margin-left: $margin-left;
  }
}

/*
    @include btn-icon-label-margin-left($margin-left);

    @include btn-icon-label-margin-left(0);
    @include breakpoint(medium) {
        @include btn-icon-label-margin-left(0.625rem);
    }

*/
