/* PLACEHOLDER */
@mixin placeholder(
  $color,
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $text-align,
  $text-transform,
  $opacity
) {
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    opacity: $opacity;
  }
  ::-webkit-input-placeholder {
    // Safari and Chrome
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    opacity: $opacity;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    opacity: $opacity;
  }
  :-ms-input-placeholder {
    // Internet Explorer 10+
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    opacity: $opacity;
  }
}
/*
  @include placeholder (
  $color,
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $text-align,
  $text-transform);
  @include placeholder ($gray-darker, $body-font, 15px, 1, 500, left, none);
  @include placeholder ($gray-darker, $body-font, 15px, 1, 500, left, uppercase);
*/

/*
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
*/
