/* SELECT */
@mixin select(
  $height,
  $text-align,
  $vertical-padding,
  $horizontal-padding,
  $border-width,
  $border-radius,
  $border-color,
  $background-color,
  $border-color-focus,
  $background-color-focus
) {
  height: $height;
  text-align: $text-align;
  padding: $vertical-padding $horizontal-padding;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:focus {
    border: $border-width solid $border-color-focus;
    background-color: $background-color-focus;
  }
}
/*
@include select (
$height, $text-align,
$vertical-padding, $horizontal-padding,
$border-width, $border-radius,
$border-color, $background-color,
$border-color-focus, $background-color-focus);
@include select (34px, left, 5px, 10px, 1px, 0px, $gray, $gray-light, $gray, $gray-light);
+ Font-mix ++++++++++++++++++++++++
@include font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform );
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, none);
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, uppercase);
*/

/*
@mixin select () {
height: 34px;
padding: 6px 12px;   
color: $brand-primary-color;
font-family: $body-font;
font-size: 13px;
font-weight: 500;
line-height: 1;      
border:1px solid $brand-primary-color;
border-radius: 0;
}
*/

/* SELECT OPTION */
@mixin select-option(
  $height,
  $text-align,
  $vertical-padding,
  $horizontal-padding,
  $border-width,
  $border-radius,
  $border-color,
  $background-color,
  $border-color-focus,
  $background-color-focus
) {
  height: $height;
  text-align: $text-align;
  padding: $vertical-padding $horizontal-padding;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover,
  &:focus {
    border: $border-width solid $border-color-hover-focus;
    background-color: $background-color-hover-focus;
  }
}
/*
@include select-option (
$height, $text-align,
$vertical-padding, $horizontal-padding,
$border-width, $border-radius,
$border-color, $background-color,
$border-color-focus, $background-color-focus);
@include select-option (34px, left, 5px, 10px, 1px, 0px, $gray, $gray-light, $gray, $gray-light);
+ Font-mix ++++++++++++++++++++++++
@include font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform );
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, none);
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, uppercase);
*/

/*
@mixin select-option () {
font-size: 11px;
color: $brand-primary-color;
font-family: $body-font;    
font-size: 14px;
line-height: 1;
font-weight: 500;
border-radius: 0;
border: 1px solid $brand-primary-color;
    &:hover {
    background: $brand-primary-color;
    color: $white;
    }
}
*/
