// Form validation
// --------------------------------------------------

@import '../01-helpers/variables.scss';
@import '../01-helpers/mixins.scss';

.has-success {
  @include form-control-validation(
    $color-success-dark,
    $color-success-dark,
    $color-success
  );
}
.has-warning {
  @include form-control-validation(
    $color-warning-dark,
    $color-warning-dark,
    $color-warning
  );
}
.has-error {
  @include form-control-validation(
    $color-danger-dark,
    $color-danger-dark,
    $color-danger
  );
}
.error {
  font-size: 12px;
  color: $color-danger;
  display: block;
}
