/* MODALS */

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border-bottom: none;
        .close {
          margin: -15px -15px -15px -30px;
          line-height: 1.2;
          &:hover,
          &:focus,
          &:active {
            color: $primary-color;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .modal-body {
        .modal-title {
          margin-bottom: 0.5rem;
        }
      }
      .modal-footer {
        border-top: none;
        justify-content: center;
        .btn-block + .btn-block {
          margin-top: 0;
        }
      }
    }
  }
}
