// GLOBAL STYLES

/* CHARSET */
@charset "UTF-8";

@import '01-helpers/variables.scss';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* HTML & BODY */
html,
body {
  height: 100%;
  width: 100%;
}

/* HTML */
html {
  position: relative;
  min-height: 100%;
}

/* BODY */
body {
  font-family: $body-font;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-x: hidden;
  &.sticky-footer {
    margin-bottom: 56px;
    .content-wrapper {
      min-height: calc(100vh - 56px - 56px);
    }
  }
  &.fixed-nav {
    padding-top: 56px;
  }
}

// HEADLINEs
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $body-font;
}

/* HEADLINES */
h1 {
  @include font-mix($gray-dark, $title-font, 58px, 1.2, 600, uppercase);
  margin-top: 0px;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
h2 {
  @include font-mix($gray-dark, $title-font, 25px, 1.2, 600, uppercase);
  @include font-mix($primary-color, $body-font, 1.1rem, 1.2, 600, none);
  margin-top: 0px;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
h3 {
  @include font-mix($gray-dark, $title-font, 17px, 1.2, 600, uppercase);
  margin-top: 0px;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
h4 {
  @include font-mix($gray-dark, $title-font, 15px, 1.2, 600, uppercase);
  @include font-mix($gray-700, $body-font, 1.3rem, 1.2, 500, none);
  margin-top: 0px;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

/* SECTIONS */
section {
  padding-top: 4em;
  padding-bottom: 5em;
}

/* BACKGROUNDS & TEXT */
.bg-light {
  background-color: $white;
  h2,
  h3,
  h4 {
    color: $gray-dark;
  }
  p {
    color: $gray-dark;
  }
}
.bg-medium {
  background-color: $gray;
  h2,
  h3,
  h4 {
    color: $gray-dark;
  }
  p {
    color: $gray-dark;
  }
}
.bg-dark {
  background-color: $black;
  h2,
  h3,
  h4 {
    color: $white;
  }
  p {
    color: $white;
  }
}

/* PARAGRAPHS */
p {
  @include font-mix($gray-dark, $body-font, 18px, 1.3, 400, none);
  @include font-mix($gray-700, $body-font, 0.9rem, 1.3, 500, none);
  margin-bottom: 0;
}
p + p {
  margin-top: 0.5em;
}

/* LABEL */
label {
  @include font-mix($gray-600 !important, $body-font, 13px, 1, 500, uppercase);
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

/* LINKS */
a {
  @include font-mix($gray, $body-font, 15px, 1.3, 500, none);
  outline: 0;
  text-decoration: none;
  @include transition(all, 0.3s, linear);
  &:hover {
    @include font-mix(darken($gray, 10%), $body-font, 15px, 1.3, 500, none);
    text-decoration: none;
  }
  &:focus,
  &:active,
  &.active,
  &.activated {
    @include font-mix(lighten($gray, 10%), $body-font, 15px, 1.3, 500, none);
    text-shadow: 1px 0px 1px $gray-light;
    text-decoration: none;
    outline: 0;
  }
}

/* LISTS */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* BLOCKQUOTE */
blockquote {
  @include font-mix($gray, $body-font, 15px, 1.3, 500, none);
  margin-bottom: 1em;
}

/* HORIZONTAL LINE */
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: fade-out($gray-darker, 0.9);

  &.light {
    border-color: white;
  }
}

hr {
  border: 0;
  max-width: 100px;
  &.hr-left {
    margin: 20px 0;
  }
  &.hr-center {
    margin: 25px auto 0;
  }
  &.hr-light {
    border-top: 1px solid $white;
  }
  &.hr-dark {
    border-top: 1px solid $black;
  }
}

/* VERTICAL LINE */
hr {
  width: 1px;
  margin: 0px;
  border-top: 20px solid $black;
}

/* INPUT */

input {
  &.form-control {
    @include input(
      34px,
      left,
      0.375rem,
      0.75rem,
      1px,
      0.25rem,
      $gray-400,
      $white,
      $primary-color,
      $white
    );
    @include font-mix($gray-600 !important, $body-font, 13px, 1, 500, none);
    @media (min-width: 768px) {
      height: 38px;
      font-size: 14px;
    }
    @media (min-width: 992px) {
      height: 38px;
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      height: 38px;
      font-size: 14px;
    }
  }
}

/* SELECT & OPTIONS */

select {
  &.custom-select {
    @include select(
      34px,
      left,
      0.375rem,
      0.75rem,
      1px,
      0.25rem,
      $gray-400,
      $white,
      $primary-color,
      $white
    );
    @include font-mix(
      $gray-600 !important,
      $body-font,
      13px,
      1,
      500,
      uppercase
    );
    width: 100%;
    @media (min-width: 768px) {
      height: 38px;
      font-size: 14px;
    }
    @media (min-width: 992px) {
      height: 38px;
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      height: 38px;
      font-size: 14px;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      cursor: pointer !important;
    }
    &:focus {
      &:active {
        outline: 0 !important;
      }
    }
  }
}

option {
  @include font-mix($gray-600 !important, $body-font, 13px, 1, 500, none);
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

/* RADIOS */
.custom-control-input:active ~ .custom-control-indicator {
  background-color: $secondary-color;
}
.custom-control-input:checked ~ .custom-control-indicator {
  background-image: none !important;
  background-color: $secondary-color;
}

/* TEXTAREA */
textarea {
  &.form-control {
    @include textarea(
      left,
      6px,
      12px,
      1px,
      0px,
      $gray-lighter,
      $gray-lighter,
      $gray-light,
      $gray-lighter
    );
    @include font-mix($gray, $body-font, 13px, 1, 500, none);
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 992px) {
      font-size: 15px;
    }
    @media (min-width: 1200px) {
      font-size: 15px;
    }
  }
}

/* PLACEHOLDER */
@include placeholder-input(
  $gray-300 !important,
  $body-font,
  13px,
  1,
  500,
  center,
  uppercase
);
@media (min-width: 768px) {
  @include placeholder-input(
    $gray-300 !important,
    $body-font,
    13px,
    1,
    500,
    center,
    uppercase
  );
}
@media (min-width: 992px) {
  @include placeholder-input(
    $gray-300 !important,
    $body-font,
    13px,
    1,
    500,
    center,
    uppercase
  );
}
@media (min-width: 1200px) {
  @include placeholder-input(
    $gray-300 !important,
    $body-font,
    13px,
    1,
    500,
    center,
    uppercase
  );
}

/* BUTTONS */
button,
.btn {
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
.btn-full {
  @include button(
    $body-font,
    14px,
    1,
    500,
    center,
    uppercase,
    8px,
    20px,
    0px,
    3px,
    $white,
    $primary-color,
    transparent,
    $white,
    darken($primary-color, 10%),
    transparent,
    $white,
    lighten($primary-color, 10%),
    transparent,
    $white,
    lighten($primary-color, 10%),
    transparent
  );
}
.btn-outline {
  @include button(
    $body-font,
    14px,
    1,
    500,
    center,
    uppercase,
    8px,
    20px,
    1px,
    3px,
    $white,
    transparent,
    $white,
    $primary-color,
    $white,
    $primary-color,
    $white,
    lighten($primary-color, 10%),
    transparent,
    $white,
    lighten($primary-color, 10%),
    transparent
  );
}
.btn-full {
  @include button(
    $body-font,
    14px,
    1,
    500,
    center,
    uppercase,
    8px,
    20px,
    0px,
    3px,
    $white,
    $gray,
    transparent,
    $white,
    darken($gray, 10%),
    transparent,
    $white,
    lighten($gray, 10%),
    transparent,
    $white,
    lighten($gray, 10%),
    transparent
  );
}
.btn-outline {
  @include button(
    $body-font,
    14px,
    1,
    500,
    center,
    uppercase,
    8px,
    20px,
    1px,
    3px,
    $white,
    transparent,
    $white,
    $gray,
    $white,
    $white,
    $white,
    lighten($gray, 10%),
    transparent,
    $white,
    lighten($gray, 10%),
    transparent
  );
}
.btn-primary {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $primary-color,
    transparent,
    $white,
    darken($primary-color, 10%),
    transparent,
    $white,
    lighten($primary-color, 10%),
    transparent,
    $white,
    lighten($primary-color, 10%),
    transparent
  );
}

.btn-secondary {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $gray-600,
    transparent,
    $white,
    darken($gray-600, 10%),
    transparent,
    $white,
    lighten($gray-600, 10%),
    transparent,
    $white,
    lighten($gray-600, 10%),
    transparent
  );
}

.btn-light {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    none,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $gray-600,
    $white,
    $gray-400,
    $gray-600,
    $white,
    $gray-400,
    $gray-600,
    $white,
    $primary-color,
    $gray-600,
    $white,
    $primary-color
  );
}

.btn-email {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $secondary-color,
    transparent,
    $white,
    darken($secondary-color, 10%),
    transparent,
    $white,
    lighten($secondary-color, 10%),
    transparent,
    $white,
    lighten($secondary-color, 10%),
    transparent
  );
}

.btn-linkedin {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $brand-linkedin,
    transparent,
    $white,
    darken($brand-linkedin, 10%),
    transparent,
    $white,
    lighten($brand-linkedin, 10%),
    transparent,
    $white,
    lighten($brand-linkedin, 10%),
    transparent
  );
}

.btn-twitter {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $brand-twitter,
    transparent,
    $white,
    darken($brand-twitter, 10%),
    transparent,
    $white,
    lighten($brand-twitter, 10%),
    transparent,
    $white,
    lighten($brand-twitter, 10%),
    transparent
  );
}

.btn-facebook {
  @include button(
    $body-font,
    0.95rem,
    1.5,
    500,
    center,
    uppercase,
    0.375rem,
    0.75rem,
    1px,
    0.25rem,
    $white,
    $brand-facebook,
    transparent,
    $white,
    darken($brand-facebook, 10%),
    transparent,
    $white,
    lighten($brand-facebook, 10%),
    transparent,
    $white,
    lighten($brand-facebook, 10%),
    transparent
  );
}

/* BREADCRUMBS */
.breadcrumb {
  background-color: $white;
  border-radius: 0;
  margin-bottom: 0;
}

/* PAGINATION */
.pagination {
  .page-item {
    .page-link {
      @include font-mix($primary-color, $body-font, 13px, 1, 500, none);
      border-color: $gray-500;
      &:hover,
      &:focus,
      &:active {
        outline: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        cursor: pointer !important;
      }
      &:focus {
        &:active {
          outline: 0 !important;
        }
      }
    }
    &.active {
      .page-link {
        @include font-mix($white !important, $body-font, 13px, 1, 500, none);
        background-color: $primary-color !important;
        border-color: $primary-color !important;
      }
    }
    &.disabled {
      .page-link {
        @include font-mix($gray-400, $body-font, 13px, 1, 500, none);
      }
    }
  }
}

/* BADGES */
.badge {
  font-size: 65%;
  font-weight: 600;
}
.ho-badge {
  color: $white;
  background-color: $primary-color;
}

/* TOOLTIP */
.tooltip {
  .arrow {
  }
  .tooltip-inner {
    font-size: 12px;
    text-align: right;
  }
}
.ho-tooltip {
  color: $black;
  position: relative;
  i {
  }
  .ho-badge {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid $white;
  }
  &:hover {
    color: $gray-800;
    text-decoration: none;
    cursor: pointer;
  }
}

/* DROPDOWN */
.dropdown-menu {
  @include border-radius(0);
  .dropdown-item {
    color: $gray-600;
    &:hover {
      color: $secondary-color;
      background-color: $white;
    }
    &:focus,
    &:active {
      color: $white;
      background-color: $secondary-color;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      cursor: pointer;
    }
  }
}

/* BLUR FILTER */
.filter-blur {
  @include blur(1);
}
